name: PR Validation

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  workflow_dispatch:

jobs:
  tests:
    uses: ./.github/workflows/run-unit-tests.yml
    with:
      test_plan: CoreBusinessLogic
